include CHANGES.rst
include README.rst
include LICENSE.rst
include CONTRIBUTORS.txt
graft pyatv
graft tests
graft docs
graft examples
exclude docs/Makefile
global-exclude *~
recursive-exclude * *.py[co]
prune docs/build