include CHANGES.md
include README.md
include LICENSE.md
include CONTRIBUTORS.md
include base_versions.txt
graft pyatv
graft tests
graft docs
graft examples
global-exclude *~ __pycache__
recursive-exclude * *.py[co] .*
prune docs/vendor
prune docs/_site
prune docs/.sass-cache
