black==20.8b1
codecov==2.1.11
deepdiff==5.3.0
flake8==3.9.1
isort==5.8.0
pylint==2.7.4
pytest==6.2.3
pytest-asyncio==0.15.1
pytest-cov==2.11.1
pytest-timeout==1.4.2
pytest-aiohttp==0.3.0
pytest-xdist==2.2.1
pydocstyle==6.0.0
mypy==0.812
mypy-protobuf==1.24
typed-ast==1.4.3
