black==19.10b0
codecov==2.1.4
deepdiff==4.3.2
flake8==3.8.2
pytest==5.4.3
pytest-asyncio==0.12.0
pytest-cov==2.9.0
pytest-timeout==1.3.4
pytest-aiohttp==0.3.0
pytest-xdist==1.32.0
pydocstyle==5.0.2
mypy==0.780
mypy-protobuf==1.21
typed-ast==1.4.1
