black==21.6b0
codecov==2.1.11
deepdiff==5.5.0
flake8==3.9.2
isort==5.9.2
mutagen==1.45.1
pylint==2.9.3
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.12.1
pytest-timeout==1.4.2
pytest-aiohttp==0.3.0
pytest-xdist==2.3.0
pydocstyle==6.1.1
mypy==0.910
mypy-protobuf==2.5
typed-ast==1.4.3
types-protobuf==0.1.13