black==23.7.0
deepdiff==6.3.1
flake8==6.0.0
isort==5.12.0
mutagen==1.46.0
pylint==2.17.4
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytest-timeout==2.1.0
pytest-aiohttp==1.0.4
pytest-httpserver==1.0.8
pytest-xdist==3.3.1
pydocstyle==6.3.0
mypy==1.4.1
mypy-protobuf==3.4.0
typed-ast==1.5.5
types-protobuf==4.23.0.1
types-requests==2.31.0.2
