aiohttp==3.8.4
async_timeout==4.0.2
bitarray==2.7.3
cryptography==40.0.2
chacha20poly1305-reuseable==0.0.4
ifaddr==0.2.0
ifaddr==0.2.0
mediafile==0.9.0
miniaudio==1.56
protobuf==3.20.1
requests==2.28.2
srptools==1.0.1
zeroconf==0.56.0
