black==25.1.0
deepdiff==8.3.0
flake8==7.1.2
isort==6.0.1
mutagen==1.47.0
pyfakefs==5.7.4
pylint==3.3.4
pytest==8.3.5
pytest-asyncio==0.25.3
pytest-cov==6.0.0
pytest-timeout==2.3.1
pytest-aiohttp==1.0.5
pytest_httpserver==1.1.2
pytest-xdist==3.6.1
pydocstyle==6.3.0
mypy==1.15.0
mypy-protobuf==3.6.0
types-protobuf==5.29.1.20250208
types-requests==2.32.0.20250301
types-tabulate==0.9.0.20241207
