aiohttp==3.8.4
async_timeout==4.0.2
bitarray==2.7.4
cryptography==41.0.1
chacha20poly1305-reuseable==0.0.4
ifaddr==0.2.0
ifaddr==0.2.0
mediafile==0.11.0
miniaudio==1.59
protobuf==4.23.2
requests==2.31.0
srptools==1.0.1
zeroconf==0.64.1
