black==21.11b1
codecov==2.1.12
deepdiff==5.6.0
flake8==4.0.1
isort==5.10.1
mutagen==1.45.1
pylint==2.12.1
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pytest-timeout==2.0.1
pytest-aiohttp==0.3.0
pytest-xdist==2.4.0
pydocstyle==6.1.1
mypy==0.910
mypy-protobuf==3.0.0
typed-ast==1.4.3
types-protobuf==3.18.2